---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from '../components/MainHead.astro'
import Nav from '../components/Nav'
import Footer from '../components/Footer.astro'


interface Props {
  title?: string | undefined
  description?: string | undefined
}

const { title, description } = Astro.props
---

<html lang="en" class="scroll-smooth">

  <head>
    <MainHead title={title} description={description} />
    <link rel="stylesheet" type="text/css" href="/src/fullpage/fullpage.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Italianno"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Kurale"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
  </head>
  <body>
    <div class="backgrounds">
      <Nav />
      <slot />
       <Footer />
    </div>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"
    ></script>
    <script is:inline src="/src/fullpage/fullpage.js"></script>
    <script>
      var myFullpage = new fullpage('#fullpage', {
        // sectionsColor: [
        //   '#f2f2f2',
        //   '#4BBFC3',
        //   '#7BAABE',
        //   'whitesmoke',
        //   '#ccddff',
        //   '#7BAABE'
        // ]
      })
    </script>
    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener('load', () =>
        document.documentElement.classList.add('loaded')
      )
    </script>

    <style>
      .backgrounds {
        min-height: 100%;
        isolation: isolate;
        background: #ffffff;
      }
      body {
        font-family: 'Kurale', sans-serif !important;
        font-size: 25px;
        font-weight: 300;
      }
    </style>
  </body>
</html>
